.pageHeader {
    margin-bottom: 20px;
    text-align: center;

}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


.shop {
    border: 2px dotted black;
    color: black;
    flex-basis: 30%;
    padding: 4px;

}